

.sketchpad {
    width: 960px;
    height: 960px;
    border: 5px solid black;
    display: flex;
    flex-wrap: wrap;
}

.row {
    display: flex;
    width: 100%;
}

.square {
    box-sizing: border-box;
    width: 100%;
    background-color: gray;
    border: 1px solid black;

}


.square:hover {

}